GITHUB_APP_ID="APP_ID"
GITHUB_APP_PK_BASE64="b64 of contents of private-key.pem"
GITHUB_WEBHOOK_SECRET="random string"
GITHUB_CLIENT_SECRET="APP CLIENT SECRET"
ORG_TOKEN="ORG OWNER TOKEN"
GITHUB_OAUTH_CLIENT_ID="OAUTH_APP_ID"
GITHUB_OAUTH_CLIENT_SECRET="OAUTH_APP_SECRET"
BOT_COOKIE_BASE64=""
LOGGIN_ENABLED="false"